# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/meetup-gui-build
/tmp
/out-tsc
/meetup-gui/dist
/meetup-gui/tmp
/meetup-gui/out-tsc

# dependencies
/node_modules
/meetup-gui/node_modules
/meetup-app/node_modules
/meetup-proxy/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# webworker files
/src/assets/workers/*.js
/src/assets/workers/*.js.map
/meetup-gui/src/assets/workers/*.js
/meetup-gui/src/assets/workers/*.js.map
