// Typhography

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: $headings-margin-bottom;
    color: $app-text-color-primary-on-light;
    margin-top: 0;
}
h1,
.h1 {
    font-size: $font-size-h1;
}
h2,
.h2 {
    font-size: $font-size-h2;
}
h3,
.h3 {
    font-size: $font-size-h3;
}
h4,
.h4 {
    font-size: $font-size-h4;
}
h5,
.h5 {
    font-size: $font-size-h5;
}
h6,
.h6 {
    font-size: $font-size-h6;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    outline: 0;
}
figure {
    margin: 0;
}
hr {
    margin: 5px 0;
}
strong,
b {
  text-shadow: 0.5px 0 $app-text-color-primary-on-light;
  font-weight: normal;
}

.app-text-strike {
  text-decoration: line-through;
  text-decoration-color: $app-color-black;
}
